[report]
  exclude_lines=
    pragma: no cover
    pragma: no py${PYTEST_PYMAJVER} cover

  omit=
    karlsruher/__init__.py
    karlsruher/__main__.py
    karlsruher/authorize_access_token.py
    karlsruher/twitter.py
    karlsruher/version.py
