#!/usr/bin/env python
##
## Copy this file to credentials.py and enter your keys there.
##
TWITTER_CONSUMER_KEY = 'Your Twitter API Consumer Key'
TWITTER_CONSUMER_SECRET = 'Your Twitter API Consumer Secret'
TWITTER_ACCESS_KEY = 'Your Twitter API Access Key'
TWITTER_ACCESS_SECRET = 'Your Twitter API Access Secret'
