#!/usr/bin/env python
##
## Copy this file to credentials.py
##
CONSUMER_KEY = 'Your Twitter API Consumer Key'
CONSUMER_SECRET = 'Your Twitter API Consumer Secret'
ACCESS_KEY = 'Your Twitter API Access Key'
ACCESS_SECRET = 'Your Twitter API Access Secret'
